@page
@{
    ViewData["Title"] = "Lebensmittelretter - Kontakt";
}
<br />
<h4>Kontakt</h4>

<address>
    Lebensmittelretter<br />
    Lebensmittelstr. 1<br /><br />
    D-22222 Flensburg<br />
</address>


